.actual {
	max-width: 1010px;
	margin: -2px auto 116px;

	.text-section__title {
		color: $black;
		margin: 0 16px 64px 0;

		.sup {
			top: 4px;
			right: 0;
			letter-spacing: 0.31em;
		}
	}

	&.actual-blog {
		margin: 100px auto 72px;
	}

	@include media('<desktop') {
		max-width: 628px;
		margin: -3px auto 48px;

		.text-section__title {
			margin: 0 5px 46px 0;

			.sup {
				font-size: 15px;
				top: -11px;
				right: 0;
				letter-spacing: 0.2em;
			}
		}

		&.actual-blog {
			margin: 79px auto 46px;
		}
	}

	@include media('<tablet') {
		.text-section__title {
			margin:0 5px 35px 0;
			font-size: 43px;
			letter-spacing: 1.1px;

			.sup {
				position: absolute;
				top: -27px;
				right: -3px;
				letter-spacing: 0.2em;
			}
		}

		&.actual-blog {
			margin: 59px auto 48px;
		}
	}
}

.articles-list {
	@extend %listreset;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 25px;

  &__item {
  	width: calc(33.33% - 36px);
  	margin: 0 18px 28px;
  }

  &__image {
  	display: block;
  	padding-bottom: 72.5%;
  	background-size: cover;
  	background-position: 50%;
  	background-repeat: no-repeat;
  	margin: 0 0 12px;
  }

  &__title {
  	margin: 0;
  	font-size: $font-size-base;
  	line-height: 1.3889;
  }

  a {
  	text-decoration: none;
  	color: $black;

  	&:hover {
  		color: $red;
  	}
  }

  @include media('<desktop') {
  	margin-bottom: 17px;

  	&__item {
	  	width: calc(33.33% - 10px);
	  	margin: 0 5px 24px;
	  }

	  &__image {
	  	padding-bottom: 72.5%;
	  	margin: 0 0 9px;
	  }

	  &__title {
	  	font-size: 16px;
	  	line-height: 1.1875;
	  }
  }
  @include media('<tablet') {
  	margin-bottom: 21px;

		&__item {
	  	width: 100%;
	  	margin: 0 0 22px;
	  	display: none;

	  	&:nth-child(1),
	  	&:nth-child(2),
	  	&:nth-child(3) {
	  		display: block;
	  	}
	  }

	  &__image {
	  	padding-bottom: 72%;
	  	margin: 0 0 13px;
	  }
	}
}

.articles-list__slide {
	padding-top: 50px;
}

.btn-wrap {
	.btn {
		display: inline-block;
		vertical-align: top;
		min-width: 311px;

		em {
			display: none;
		}
	}

	.js-open-close.active &{
		.btn {
			span {
				display: none;
			}
			em {
				display: inline;
				font-style: normal;
			}
		}
	}

	@include media('<desktop') {
		.btn {
			min-width: 198px;
		}
	}

	@include media('<tablet') {
		.btn {
			font-size: 15px;
			min-width: 264px;
			padding: 24px 20px;
		}
	}
}

