/*================ Footer ================*/
.footer {
	background: #000308;
	color: $white;
	padding: 50px 0 55px;

	&__logo {
		width: 119px;
		margin: 0 0 43px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__items {
		display: flex;
  	flex-wrap: nowrap;
  	margin: 0 0 22px;
	}

	&__item {
		width: 15%;
		margin: 0 1.9% 0 0;

		&:last-child {
			width: 32.4%;
			margin: 0;
		}
	}

	&__title {
		margin: 0 0 25px;
		font-size: $h4-font-size;
		font-weight: bold;
		letter-spacing: 0.1em;
	}

	&__phone {
		font-weight: 500;
		letter-spacing: 0.1em;
		color: $red;
		display: block;
		padding: 3px 0 10px;
	}

	&__email {
		display: block;
		color: $red;
		letter-spacing: 0.1em;
	}

	a {
		font-weight:inherit ;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&__copyright {
		letter-spacing: 1px;
		color: #696D8D;
		font-size: $font-size-base - 3;
	}

	@include media('<desktop') {
		padding: 30px 0;
		font-size: $font-size-base - 3;

		&__logo {
			width: 112px;
			margin: 0 0 26px;
		}

		&__title {
			font-size: $h6-font-size;
			margin: 0 0 19px;
		}

		&__items {
			margin: 0 0 28px;
		}

		&__phone {
			padding: 0;
			margin: 0 0 -7px;
		}
	}

	@include media('<tablet') {
		font-size: $font-size-base + 2;

		&__logo {
			width: 116px;
			margin: 0 auto 32px;
		}

		&__title {
			display: none;
		}

		&__items {
			margin: 0 0 16px;
			display: block;
		}

		&__item:not(:last-child) {
			display: none;
		}

		&__item:last-child {
			width: auto;
			text-align: center !important;
		}

		&__copyright {
			display: none;
		}

		&__phone {
			margin: 0 0 14px;
		}
	}
}

.footer-menu {
	@extend %listreset;
	font-size: $font-size-base - 2;
	line-height: 1.4375;
	color: $blue;

	&__item {
		margin: 0 0 23px;
	}

	@include media('<desktop') {
		font-size: $font-size-base - 4;
		line-height: 1.072;

		&__item {
			margin: 0 0 15px;
		}
	}
}