.hero {
	display: flex;
	align-items: center;
	height: 652px;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #000;
	color: #fff;
	background-color: #000;
	font-size: 16px;
	line-height: 1.4375;
	letter-spacing: 0.05em;
	padding: 118px 0 10px;

	.container {
		width: 100%;
	}

	&__holder {
		max-width: 478px;
	}

	&__title {
		color: #59EAFD;
		margin-bottom: 24px;
	}

	p {
		margin-bottom: 75px;
	}

	.sup {
		text-shadow: 0px 0px 4px #003641;
	}

	@include media('<desktop') {
		height: 527px;
		padding-top: 122px;
		background-position: 44% 50%;
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-image: linear-gradient(358.3deg, #030407 4.16%, rgba(1, 3, 8, 0) 17.63%);
			pointer-events: none;
			content: '';
		}

		.container {
			position: relative;
		}

		&__holder {
			max-width: 362px;
		}

		&__title {
			font-size: 60px;
			letter-spacing: .1em;
		}

		p {
			margin-bottom: 43px;
		}

	}

	@include media('<tablet') {
		display: block;
		background-position: 68% 17%;
		height: 812px;
		background-size: auto 50%;
		background-repeat: no-repeat;
		padding-top: 472px;

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 27%;
			pointer-events: none;
			background: linear-gradient(to bottom, rgba(208,5,8,1) 0%,rgba(208,5,8,1) 33%,rgba(208,5,8,0) 100%);
			content: '';
		}

		&:before {
			top: 9%;
			bottom: auto;
			height: 50%;
		}

		&__title {
			font-size: 52px;
			letter-spacing: 0;

			.sup {
				position: absolute;
				top: -14px;
				right: 2px;
			}
		}

		p {
			margin-bottom: 32px;
		}

		.btn {
			padding: 19px 20px 21px;
		}
	}
}
