.newsletter {
	background: $black;
	color: $white;
	padding: 129px 0 108px;

	&__title {
		text-transform: none;
		margin: 0  0 61px;
		letter-spacing: 0.03em;
	}

	&__sub-title {
		font-size: $h3-font-size + 4;
		margin: 0 0 27px;
		font-weight: 500;
		letter-spacing: 0.03em;
	}

	&__mini-title {
		margin: 0 0 53px;
		letter-spacing: 0.4em;
		font-size: $font-size-base + 2;
		font-weight: 500;
		color: $blue;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@include media('<desktop') {
		padding: 67px 0 78px;

		&__title {
			margin: 0  0 21px;
			font-size: $h2-font-size + 5;
		}

		&__sub-title {
			font-size: $font-size-base + 2;
			margin: 0 0 10px;
		}

		&__mini-title {
			margin: 0 0 82px;
			font-size: $font-size-base - 3;
		}
	}
	@include media('<tablet') {
		padding: 42px 0 63px;

		.container {
			text-align: left !important;
		}

		&__title {
			margin: 0  0 33px;
			font-size: $h2-font-size + 2;
			line-height: 1;
		}

		&__sub-title {
			font-size: $h3-font-size - 1;
			line-height: 1.2;
			margin: 0 0 39px;

			a {
				display: block;
			}
		}

		&__mini-title {
			margin: 0 0 59px;
			font-size: $font-size-base + 2;
			line-height: 1.25;
			letter-spacing: 0;
		}
	}
}

.form-newsletter {
	display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .form__line {
  	flex:0 0 32.2%;
  }

  input[type='text'], 
  input[type='tel'], 
  input[type='email'], 
  input[type='search'], 
  input[type='password'], 
  textarea {
  	font-size: $font-size-base;
  }

  .btn {
  	padding: 5px;
  	max-width: 100%;
  	min-width: 50px;
  	line-height: 55px;
  	text-transform: none;
  }

  @include media('>=tablet', '<desktop') {
		input[type='text'], 
	  input[type='tel'], 
	  input[type='email'], 
	  input[type='search'], 
	  input[type='password'], 
	  textarea {
	  	font-size: $font-size-base - 3;
	  	padding: 2px 28px;
	  }

	  .btn {
	  	line-height: 38px;
	  	font-size: $font-size-base - 3;
	  }
	}

	@include media('<tablet') {
		display: block;
		input[type='text'], 
	  input[type='tel'], 
	  input[type='email'], 
	  input[type='search'], 
	  input[type='password'], 
	  textarea {
	  	font-size: $font-size-base - 2;
	  	padding: 2px 40px;
	  }
	  .btn {
	  	font-size: $font-size-base - 2;
	  	margin-top: 6px;
	  	line-height: 54px;
	  }
	}
}