.work {
	background-size: cover !important;
	background-position: 50% 50%;
	position: relative;
	background: #f72528;
	color: #fff;
	padding: 84px 0 78px;
	font-size: 16px;
	line-height: 144%;
	letter-spacing: .07em;

	&:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(178.17deg, #C00013 -26.38%, rgba(255, 0, 25, 0) 163.63%);
    content: '';
	}

	.container {
		position: relative;
		z-index: 10;
	}

	&__title {
		text-transform: none;
		margin-bottom: 55px;
		letter-spacing: .04em;
	}

	&__holder {
		display: flex;
		justify-content: space-between;
		align-items:center;
	}

	&__content {
		width: calc(100% - 300px);
		padding-right: 7%;
	}

	&__links {
		width: 300px;
		padding: 0 0 13px;
	}

	p {
		margin-bottom: 23px;

		b,
		strong {
			letter-spacing: .11em;
		}
	}

	@include media('<desktop') {
		padding: 67px 0 74px;

		&__title {
			margin-bottom: 53px;
			font-size: $h2-font-size-tablet - 5;
			line-height: 1;
		}

		&__links {
			width: 260px;
			padding: 0 0 50px;
		}

		&__content {
			width: calc(100% - 260px);
			padding-right: 3%;
		}
	}

	@include media('<tablet') {
		font-size: $font-size-base;
		line-height: 1.2778;
		padding: 67px 0 77px;
		background:#f72528 url(../images/blog-mob.png) no-repeat 50% 100% !important;
		background-size: cover !important;

		&__title {
			font-size: 25px;
			line-height: 1.2;
			margin-bottom: 55px;

			br {
				display: none;
			}

			span{
				display: block;
				font-size: 50px;
				margin: 0 0 -7px;
			}
		}

		&__holder {
			display: block;
		}

		&__content {
			width: auto;
			padding: 0;
			margin: 0 -1px 55px 0;
		}

		&__links {
			width: auto;
			padding: 0;
		}
		.btn {
			font-size: 20px;
			margin: 0;
			padding: 22px 20px;
			display: block;
		}
	}
}